@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Magee College<br />
    Northland Rd, Derry, BT48 7JL<br />
    <abbr title="Phone">P:</abbr>
    02870123456
</address>

<address>
    <strong>Application:</strong>   <a href="mailto:registryce@ulster.ac.uk">registryce@ulster.ac.uk</a><br />
</address>