@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FACEBOOK REPLICA</h1>
    <p class="lead">This is a Facebook Replica.</p>
    @using (Html.BeginForm("Index", "Friend", FormMethod.Get))
    {
        <p> <input type="submit" class="btn btn-primary btn-lg" value="Press for Friends" /></p>
    }
</div>